<h1>Task 2</h1>

Based on the historical data, write code to include results of last 5 matches between two teams

<h2>Importing python libraries</h2>

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h3>Data Explore</h3>

In [2]:
df = pd.read_csv("./train.csv")

/var/folders/r8/__hqjl2n5j5_wf6w5j15gn300000gn/T/ipykernel_5005/1547526635.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./train.csv")

In [3]:
df.head()

,id,target,home_team_name,away_team_name,match_date,league_name,league_id,is_cup,home_team_coach_id,away_team_coach_id,...,away_team_history_league_id_1,away_team_history_league_id_2,away_team_history_league_id_3,away_team_history_league_id_4,away_team_history_league_id_5,away_team_history_league_id_6,away_team_history_league_id_7,away_team_history_league_id_8,away_team_history_league_id_9,away_team_history_league_id_10
0,11906497,away,Newell's Old Boys,River Plate,2019-12-01 00:45:00,Superliga,636,False,468196.0,468200.0,...,1122.0,642.0,636.0,636.0,636.0,1122.0,636.0,642.0,636.0,1122.0
1,11984383,home,Real Estelí,Deportivo Las Sabanas,2019-12-01 01:00:00,Primera Division,752,False,516788.0,22169161.0,...,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0
2,11983301,draw,UPNFM,Marathón,2019-12-01 01:00:00,Liga Nacional,734,False,2510608.0,456313.0,...,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0
3,11983471,away,León,Morelia,2019-12-01 01:00:00,Liga MX,743,False,1552508.0,465797.0,...,743.0,743.0,743.0,743.0,743.0,743.0,743.0,743.0,746.0,743.0
4,11883005,home,Cobán Imperial,Iztapa,2019-12-01 01:00:00,Liga Nacional,705,False,429958.0,426870.0,...,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0

In [4]:
df_=df

Merging "home_team_name" and "away_team_name" columns into "Combined" column

In [5]:
df['home_team_name'] = df['home_team_name'].astype(str)
df['away_team_name'] = df['away_team_name'].astype(str)
df['Combined'] = df[['home_team_name', 'away_team_name']].agg('_'.join, axis=1)
df.head()

,id,target,home_team_name,away_team_name,match_date,league_name,league_id,is_cup,home_team_coach_id,away_team_coach_id,...,away_team_history_league_id_2,away_team_history_league_id_3,away_team_history_league_id_4,away_team_history_league_id_5,away_team_history_league_id_6,away_team_history_league_id_7,away_team_history_league_id_8,away_team_history_league_id_9,away_team_history_league_id_10,Combined
0,11906497,away,Newell's Old Boys,River Plate,2019-12-01 00:45:00,Superliga,636,False,468196.0,468200.0,...,642.0,636.0,636.0,636.0,1122.0,636.0,642.0,636.0,1122.0,Newell's Old Boys_River Plate
1,11984383,home,Real Estelí,Deportivo Las Sabanas,2019-12-01 01:00:00,Primera Division,752,False,516788.0,22169161.0,...,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,Real Estelí_Deportivo Las Sabanas
2,11983301,draw,UPNFM,Marathón,2019-12-01 01:00:00,Liga Nacional,734,False,2510608.0,456313.0,...,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0,UPNFM_Marathón
3,11983471,away,León,Morelia,2019-12-01 01:00:00,Liga MX,743,False,1552508.0,465797.0,...,743.0,743.0,743.0,743.0,743.0,743.0,743.0,746.0,743.0,León_Morelia
4,11883005,home,Cobán Imperial,Iztapa,2019-12-01 01:00:00,Liga Nacional,705,False,429958.0,426870.0,...,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0,Cobán Imperial_Iztapa

<h3>Check the number of the same match occurence</h3>

In [6]:
df2 = df['Combined'].value_counts()
home_team_name_counts = df['home_team_name'].value_counts()
df2_ = pd.DataFrame(df2)
df2_=df2_.reset_index()

In [15]:
combined_count = df2_[df2_['count'] < 5].index
df2_.drop(combined_count, inplace=True)
df2_.head()

                                 Combined  count
0                   Alajuelense_Herediano      7
1  Beitar Tel Aviv Ramla_Hapoel Ramat Gan      6
2                           Maribor_Bravo      6
3                         AEK Larnaca_AEL      6
4                   Herediano_Alajuelense      6

Example for index 1 ("Beitar Tel Aviv Ramla_Hapoel Ramat Gan") to show the match date

In [26]:
names = df2_['Combined'][1].split("_")
home_team_name_split = names[0]
away_team_name_split = names[1]
tmp = df.loc[(df['home_team_name']==home_team_name_split)
    & (df['away_team_name']==away_team_name_split), ['id', 'home_team_name',
    'away_team_name','league_name', 'match_date']]
tmp

,id,home_team_name,away_team_name,league_name,match_date
18963,11872479,Beitar Tel Aviv Ramla,Hapoel Ramat Gan,Liga Leumit,2020-02-21 13:00:00
28665,14050776,Beitar Tel Aviv Ramla,Hapoel Ramat Gan,Liga Leumit,2020-06-18 17:00:00
33628,16622919,Beitar Tel Aviv Ramla,Hapoel Ramat Gan,Club Friendlies,2020-07-24 06:20:00
92384,16899553,Beitar Tel Aviv Ramla,Hapoel Ramat Gan,Liga Leumit,2021-03-05 13:00:00
96274,17879204,Beitar Tel Aviv Ramla,Hapoel Ramat Gan,State Cup,2021-03-15 18:00:00
104860,17997728,Beitar Tel Aviv Ramla,Hapoel Ramat Gan,Liga Leumit,2021-04-12 16:00:00

<h3>Running the list of match</h3>

In [35]:
combined_names = df2_['Combined']

for i in range(len(combined_names)):
    names= combined_names[i].split("_")
    home_team_name_split = names[0]
    away_team_name_split = names[1]
    if i ==0:
        df_match=df.loc[(df['home_team_name']==home_team_name_split)
            & (df['away_team_name']==away_team_name_split), ['id', 'home_team_name',
            'away_team_name','league_name', 'match_date']].head(5)
    else:
        df_match = pd.concat([df_match, df.loc[(df['home_team_name']==home_team_name_split)
            & (df['away_team_name']==away_team_name_split), ['id', 'home_team_name',
            'away_team_name','league_name', 'match_date']].head(5)], ignore_index=True)

<h3>Saving the results into date_match.csv</h3>

In [37]:
df_match.to_csv("./Task2_submission.csv")